/* Custom Layout for the Duke Project */
.duke-med-blue {
  color: #00569d;
}

.duke-bg-med-blue {
  background-color: #00569d;
}

.duke-med-blue-page .svg-inline--fa {
  color: #00569d;
}

.duke-med-blue-page .spacer, .duke-med-blue .spacer {
  border-left: 4px solid #00569d;
  padding-right: 5px;
}

.duke-med-blue-page .set-bg-color {
  background-color: #00569d;
}

.duke-blue {
  color: #001a57;
}

.duke-bg-blue {
  background-color: #001a57;
}

.duke-blue-page .svg-inline--fa {
  color: #001a57;
}

.duke-blue-page .spacer, .duke-blue .spacer {
  border-left: 4px solid #001a57;
  padding-right: 5px;
}

.duke-blue-page .set-bg-color {
  background-color: #001a57;
}

.duke-gray {
  color: #58595b;
}

.duke-bg-gray {
  background-color: #58595b;
}

.duke-gray-page .svg-inline--fa {
  color: #58595b;
}

.duke-gray-page .spacer, .duke-gray .spacer {
  border-left: 4px solid #58595b;
  padding-right: 5px;
}

.duke-gray-page .set-bg-color {
  background-color: #58595b;
}

.duke-green {
  color: #b1b951;
}

.duke-bg-green {
  background-color: #b1b951;
}

.duke-green-page .svg-inline--fa {
  color: #b1b951;
}

.duke-green-page .spacer, .duke-green .spacer {
  border-left: 4px solid #b1b951;
  padding-right: 5px;
}

.duke-green-page .set-bg-color {
  background-color: #b1b951;
}

.duke-yellow {
  color: #f6c867;
}

.duke-bg-yellow {
  background-color: #f6c867;
}

.duke-yellow-page .svg-inline--fa {
  color: #f6c867;
}

.duke-yellow-page .spacer, .duke-yellow .spacer {
  border-left: 4px solid #f6c867;
  padding-right: 5px;
}

.duke-yellow-page .set-bg-color {
  background-color: #f6c867;
}

.duke-orange {
  color: #f28521;
}

.duke-bg-orange {
  background-color: #f28521;
}

.duke-orange-page .svg-inline--fa {
  color: #f28521;
}

.duke-orange-page .spacer, .duke-orange .spacer {
  border-left: 4px solid #f28521;
  padding-right: 5px;
}

.duke-orange-page .set-bg-color {
  background-color: #f28521;
}

.duke-red {
  color: #dc4a38;
}

.duke-bg-red {
  background-color: #dc4a38;
}

.duke-red-page .svg-inline--fa {
  color: #dc4a38;
}

.duke-red-page .spacer, .duke-red .spacer {
  border-left: 4px solid #dc4a38;
  padding-right: 5px;
}

.duke-red-page .set-bg-color {
  background-color: #dc4a38;
}

.duke-sky-blue {
  color: #0680cd;
}

.duke-bg-sky-blue {
  background-color: #0680cd;
}

.duke-sky-blue-page .svg-inline--fa {
  color: #0680cd;
}

.duke-sky-blue-page .spacer, .duke-sky-blue .spacer {
  border-left: 4px solid #0680cd;
  padding-right: 5px;
}

.duke-sky-blue-page .set-bg-color {
  background-color: #0680cd;
}

.duke-purple {
  color: #693e71;
}

.duke-bg-purple {
  background-color: #693e71;
}

.duke-purple-page .svg-inline--fa {
  color: #693e71;
}

.duke-purple-page .spacer, .duke-purple .spacer {
  border-left: 4px solid #693e71;
  padding-right: 5px;
}

.duke-purple-page .set-bg-color {
  background-color: #693e71;
}

.duke-tertiary-gray1 {
  color: #808285;
}

.duke-bg-tertiary-gray1 {
  background-color: #808285;
}

.duke-tertiary-gray1-page .svg-inline--fa {
  color: #808285;
}

.duke-tertiary-gray1-page .spacer, .duke-tertiary-gray1 .spacer {
  border-left: 4px solid #808285;
  padding-right: 5px;
}

.duke-tertiary-gray1-page .set-bg-color {
  background-color: #808285;
}

.duke-tertiary-gray2 {
  color: #bcbec0;
}

.duke-bg-tertiary-gray2 {
  background-color: #bcbec0;
}

.duke-tertiary-gray2-page .svg-inline--fa {
  color: #bcbec0;
}

.duke-tertiary-gray2-page .spacer, .duke-tertiary-gray2 .spacer {
  border-left: 4px solid #bcbec0;
  padding-right: 5px;
}

.duke-tertiary-gray2-page .set-bg-color {
  background-color: #bcbec0;
}

.duke-tertiary-gray3 {
  color: #f2f2f3;
}

.duke-bg-tertiary-gray3 {
  background-color: #f2f2f3;
}

.duke-tertiary-gray3-page .svg-inline--fa {
  color: #f2f2f3;
}

.duke-tertiary-gray3-page .spacer, .duke-tertiary-gray3 .spacer {
  border-left: 4px solid #f2f2f3;
  padding-right: 5px;
}

.duke-tertiary-gray3-page .set-bg-color {
  background-color: #f2f2f3;
}

.duke-tertiary-green1 {
  color: #637c38;
}

.duke-bg-tertiary-green1 {
  background-color: #637c38;
}

.duke-tertiary-green1-page .svg-inline--fa {
  color: #637c38;
}

.duke-tertiary-green1-page .spacer, .duke-tertiary-green1 .spacer {
  border-left: 4px solid #637c38;
  padding-right: 5px;
}

.duke-tertiary-green1-page .set-bg-color {
  background-color: #637c38;
}

.duke-tertiary-orange1 {
  color: #cc6628;
}

.duke-bg-tertiary-orange1 {
  background-color: #cc6628;
}

.duke-tertiary-orange1-page .svg-inline--fa {
  color: #cc6628;
}

.duke-tertiary-orange1-page .spacer, .duke-tertiary-orange1 .spacer {
  border-left: 4px solid #cc6628;
  padding-right: 5px;
}

.duke-tertiary-orange1-page .set-bg-color {
  background-color: #cc6628;
}

.duke-tertiary-orange2 {
  color: #fee5aa;
}

.duke-bg-tertiary-orange2 {
  background-color: #fee5aa;
}

.duke-tertiary-orange2-page .svg-inline--fa {
  color: #fee5aa;
}

.duke-tertiary-orange2-page .spacer, .duke-tertiary-orange2 .spacer {
  border-left: 4px solid #fee5aa;
  padding-right: 5px;
}

.duke-tertiary-orange2-page .set-bg-color {
  background-color: #fee5aa;
}

.duke-tertiary-red1 {
  color: #ae3e37;
}

.duke-bg-tertiary-red1 {
  background-color: #ae3e37;
}

.duke-tertiary-red1-page .svg-inline--fa {
  color: #ae3e37;
}

.duke-tertiary-red1-page .spacer, .duke-tertiary-red1 .spacer {
  border-left: 4px solid #ae3e37;
  padding-right: 5px;
}

.duke-tertiary-red1-page .set-bg-color {
  background-color: #ae3e37;
}

.duke-tertiary-purple1 {
  color: #967a9a;
}

.duke-bg-tertiary-purple1 {
  background-color: #967a9a;
}

.duke-tertiary-purple1-page .svg-inline--fa {
  color: #967a9a;
}

.duke-tertiary-purple1-page .spacer, .duke-tertiary-purple1 .spacer {
  border-left: 4px solid #967a9a;
  padding-right: 5px;
}

.duke-tertiary-purple1-page .set-bg-color {
  background-color: #967a9a;
}

body {
  font-family: "Open Sans", "Helvetica";
  background: white;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul li,
ul li.leaf {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li.expanded {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.row {
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item a.active {
  color: #bcbec0;
}

.page-body hr {
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumb {
  border-radius: 0;
  padding-right: 0;
}

.search {
  position: relative;
  display: flex;
}
.search input {
  width: 100%;
  padding-right: 2em;
}
.search input::placeholder {
  font-size: 0.85rem;
}

/* change bootstrap theme values */
/* set Duke colors for the menu */
.bg-primary {
  background-color: #00569d !important;
}

.bg-secondary {
  background-color: #001a57 !important;
}

.btn-primary {
  color: white;
  background-color: #00569d;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.2rem #b1b951;
}

.btn-secondary {
  color: #001a57;
  background-color: white;
  font-weight: bold;
}

/* causing to much stress on IOS. Media Hover queries do not work with chrome?? */
.navbar-dark .toggler-icon-wrapper {
  padding: 10px;
  border-radius: 5px;
  background-color: #00569d;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active {
  border-radius: 5px;
  color: #bcbec0;
}

.navbar-nav .nav-link {
  padding-left: 1em;
}

.text-shadow {
  text-shadow: 3px 5px #001a57;
}

.display-1 {
  font-weight: 900;
}

.img-fluid {
  max-width: 95%;
}

.menuitem {
  border-top: 1px solid #808285;
  padding-top: 1em;
  color: white;
}
.menuitem .mr-auto {
  padding-left: 0px;
}

.menu-submenu {
  margin-left: 1.5em;
}
.menu-submenu .nav-link {
  padding-left: 1.7em;
  border-bottom: 1px solid #808285;
  color: white;
  font-size: 0.9rem;
  border-radius: 0px;
}

/* set the CSS for the hamburger menu */
.dismiss {
  background-color: #00569d;
}
.dismiss .fa-plus {
  color: white;
  font-size: 1.2rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: rotate 0.5s ease-in-out;
  -webkit-transition: rotate 0.5s ease-in-out;
}

.overlay {
  display: none;
  opacity: 0;
  top: 0;
  position: fixed;
  background-color: rgba(88, 89, 91, 0.719);
  z-index: 1200;
  right: 0px;
  height: 100%;
  width: 100%;
}
.overlay.active {
  display: block;
  opacity: 1;
}
.overlay .big-screen {
  display: none;
}
.overlay .search {
  margin-top: 5rem;
  width: 80% !important;
}

#menu-container {
  background-color: #58595b;
  box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
  right: -100%;
  height: 100%;
  min-width: 376px;
  max-width: 512px;
  width: 100%;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  /*m make scrolling smooth */
  z-index: 999;
  position: fixed;
}
#menu-container a.nav-link {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}
#menu-container.active {
  right: 0px;
}
#menu-container .navbar-dark {
  position: fixed;
  z-index: 1003;
  width: 100%;
  height: 4em;
}
#menu-container .navbar-nav {
  position: relative;
}
#menu-container .navbar-nav .a-link {
  display: none;
}
#menu-container .nav-link.fixed {
  position: fixed;
  z-index: 1001;
  width: 100%;
  background-color: #58595b;
}
#menu-container .nav-link div.go-back {
  padding: 6px;
  color: #bcbec0;
  font-size: 0.9em;
}
#menu-container .nav-link div.go-back i {
  padding-right: 0.5em;
}
#menu-container .nav-link .menuitem {
  border-top: 0px;
  border-bottom: 2px solid;
  font-weight: bold;
}
#menu-container .search-wrapper {
  position: sticky;
  position: -webkit-sticky;
  background-color: #58595b;
  top: 0em;
  z-index: 1002;
}
#menu-container .accordion-content {
  position: relative;
  top: 6em;
  z-index: 1000;
  display: none;
}
#menu-container .accordion-content.active {
  display: block;
}
#menu-container .accordion-content li.leaf {
  padding-top: 15px;
}

.nav-link span {
  margin-right: 3px;
}

.navbar .nav-link span {
  padding-left: 4px;
}

/* rotate the caret in the responsive menu */
.accordion-toggle .far,
.accordion-toggle .fas,
.accordion-toggle .fab {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-out;
}

.accordion-toggle .fixed .rotate-down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  top: -0.3rem;
}

.js .dropbutton li {
  float: left;
  padding-left: 10px;
}

.white-button {
  color: #001a57 !important;
  background-color: white;
  color: black;
  padding: 0.5em;
  font-weight: 900;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 2px 2px 3px white;
  text-align: center;
  text-decoration: none;
}
.white-button:hover {
  background-color: #00569d;
  color: white !important;
}

.small-rounded-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.blue-button {
  background-color: #001a57;
  color: white;
  padding: 1em;
  font-weight: 900;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 5px #bcbec0;
  text-decoration: none;
  color: white;
}
.blue-button:hover {
  background-color: white;
  color: #001a57;
  border: 2px solid #001a57;
}

.purple-button {
  display: inline-block;
  background-color: #693e71;
  padding: 1em;
  font-weight: 900;
  box-shadow: 2px 2px 5px #001a57;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.purple-button:hover {
  background-color: white;
  color: #693e71;
  border: 2px solid #693e71;
}

.clinical-module .sidebar li {
  margin-bottom: 1rem;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #808285;
}
.clinical-module .sidebar li a {
  color: black;
  font-weight: 100;
}
.clinical-module .sidebar li a.active-trail {
  font-weight: bold;
}
.clinical-module .sidebar .card {
  width: 7rem;
}

/* Home Page */
.homepage img {
  width: 100%;
}
.homepage .banner {
  margin-top: 1px;
  background-color: #00569d;
  background-image: url("duke-background-blue.gif");
  position: relative;
}
.homepage .banner .masked-right img {
  mask-image: linear-gradient(90deg, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(90deg, black 50%, transparent 100%);
}
.homepage .banner .display-1 {
  font-size: 18vw;
}
.homepage .banner .h1 {
  font-size: 7vw;
}
.homepage .banner .masked-left img {
  mask-image: linear-gradient(-90deg, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(-90deg, black 50%, transparent 100%);
}
.homepage .slogan {
  position: relative;
}
.homepage .clinical-module svg {
  font-size: 2em;
}
.homepage .display-1,
.homepage .h1 {
  line-height: 1.5em;
  font-size: 4vw;
}
.homepage .display-1 {
  font-size: 5vw;
}
.homepage .value-prop3 {
  line-height: 1.4rem;
}
.homepage .faculty-statement-wrapper {
  background-image: url("duke-background-orange.gif");
  padding-top: 20px;
}
.homepage .value-prop-text {
  padding-bottom: 10px;
}
.homepage .faculty-statement {
  padding: 3em 0 5em 0;
  position: relative;
}
.homepage .faculty-statement .overlay-lighten {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.clinical-home .banner,
.clinical-search .banner {
  position: relative;
  background-color: #00569d;
  background-image: url("https://lh3.googleusercontent.com/v4cP8G22tJ3VKSK8ZwmRg7Q1xReO2CW-XXBVRihr-LQ7QcKb6yULs-X7ko1sqt4BPfGr-YJjB44");
}
.clinical-home .banner .banner-text,
.clinical-search .banner .banner-text {
  z-index: 800;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.5em;
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px #000000;
}
.clinical-home .sidebar h3,
.clinical-search .sidebar h3 {
  border-bottom: 2px solid #693e71;
}
.clinical-home .sidebar ul,
.clinical-search .sidebar ul {
  padding-left: 10px;
}
.clinical-home .sidebar ul li,
.clinical-search .sidebar ul li {
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #808285;
}
.clinical-home .sidebar ul li a,
.clinical-search .sidebar ul li a {
  color: black;
  font-weight: 100;
}
.clinical-home .sidebar ul li a.active-trail,
.clinical-search .sidebar ul li a.active-trail {
  font-weight: bold;
}
.clinical-home .module-list .card-parent,
.clinical-search .module-list .card-parent {
  margin-bottom: 1rem;
}
.clinical-home .module-list .card,
.clinical-search .module-list .card {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
}
.clinical-home .module-list .card img,
.clinical-search .module-list .card img {
  width: 100%;
}
.clinical-home .module-list .card:hover .card-title,
.clinical-search .module-list .card:hover .card-title {
  color: #f28521;
}
.clinical-home .module-list .card .card-header,
.clinical-search .module-list .card .card-header {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
}
.clinical-home .module-list .card .card-title,
.clinical-search .module-list .card .card-title {
  font-weight: 900;
  text-align: start;
  font-size: 0.95rem;
  color: #00569d;
}
.clinical-home .module-list .card .card-body,
.clinical-search .module-list .card .card-body {
  text-align: start;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  padding: 0.5rem;
}
.clinical-home .module-list .card .card-body a,
.clinical-search .module-list .card .card-body a {
  color: black;
}
.clinical-home .module-list .card .card-body small a:hover,
.clinical-search .module-list .card .card-body small a:hover {
  color: #00569d;
  font-weight: bold;
}

.clinical-module hr {
  height: 0.25em;
}
.clinical-module .masked-left {
  mask-image: linear-gradient(-90deg, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(-90deg, black 20%, transparent 100%);
}

.search {
  justify-content: center;
}
.search button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 3px 6px !important;
  position: relative;
  left: -2em;
}

.breadcrumb {
  font-size: 1.2rem;
}
.breadcrumb .trail {
  justify-content: center;
}
.breadcrumb .svg-inline--fa {
  font-size: 1.5rem;
  color: white;
}
.breadcrumb a {
  color: white;
}
.breadcrumb a:hover {
  color: #bcbec0;
}

.maintenance {
  height: 100vh;
}
.maintenance .header {
  margin-top: 20vh;
  margin-bottom: 5vh;
  width: 60vw;
}
.maintenance .strip {
  margin-top: 2vh;
  height: 5vh;
}

.article img {
  width: 100%;
  box-shadow: 3px 5px 6px 1px rgba(0, 0, 0, 0.75);
}
.article .banner hr {
  height: 0.5em;
}
.article .text-section ul {
  padding-left: 15px;
}
.article .text-section li {
  padding-bottom: 5px;
  text-indent: 0.5em;
}
.article .card {
  border: 0;
}
.article .card img {
  box-shadow: 3px 5px 6px 1px rgba(0, 0, 0, 0.75);
}
.article .main li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: none;
}
.article .main .svg-inline--fa {
  position: relative;
  left: -10px;
}
.article .nav {
  height: 100%;
  margin-left: 0;
  margin-top: 1em;
}
.article .nav .nav-item {
  padding-bottom: 10px;
}
.article .nav .nav-item.active-trail {
  font-weight: bold;
}
.article .nav .nav-link {
  color: #001a57;
}

.cop-logo {
  color: #f28521;
}
.cop-logo div {
  position: relative;
  top: -10px;
  margin-left: 15px;
}
.cop-logo img {
  width: 4rem;
}

.navbar-brand img {
  width: 7rem;
}

.categories-select .form-inline .input-group {
  width: 100%;
}

footer li {
  font-size: 0.8rem;
}
footer .nav-link {
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}
footer .icon {
  color: #cc6628;
  font-size: 1.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.owl-carousel {
  background-color: #f2f2f3;
  padding: 1.5rem;
}
.owl-carousel .item {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.owl-carousel .item img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.owl-carousel .owl-nav {
  text-align: center;
}
.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  display: none;
}
.owl-carousel .owl-nav button {
  outline: 0;
}
.owl-carousel .owl-nav .owl-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f191";
  margin-right: 1em;
  font-size: 2em;
  color: #693e71;
}
.owl-carousel .owl-nav .owl-next:after {
  font-family: "Font Awesome 5 Free";
  content: "\f152";
  margin-right: 1em;
  font-size: 2em;
  color: #693e71;
}

.owl-dots {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.owl-dot span {
  background: none repeat scroll 0 0 #f28521;
  border-radius: 20px;
  display: block;
  height: 10px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 10px;
  box-shadow: 3px 9px 34px 1px rgba(0, 0, 0, 0.75);
}
.owl-dot.active span {
  background: none repeat scroll 0 0 #001a57;
}

.node-form {
  padding-left: 1rem;
}
.node-form .form-textarea-wrapper {
  max-width: 50em;
}
.node-form .edit-title {
  font-size: 1.2rem;
}
.node-form .filter-guidelines {
  display: none;
}
.node-form .text-form-wrapper {
  border: 1px solid #001a57;
}
.node-form div.image-preview {
  float: none;
  display: block;
}
.node-form div.image-preview img {
  width: 10%;
}
.node-form legend {
  margin-bottom: 0;
}

fieldset.collapsible {
  padding: 20px;
  padding-left: 0;
}

.form-select {
  width: 14rem;
  background: transparent;
  box-shadow: 1px 1px 4px #bcbec0;
}

.form-text,
.form-textarea {
  padding: 5px;
  border: 1px solid #001a57;
  box-shadow: 1px 1px 2px #bcbec0;
}

input[type=submit] {
  background-color: #00569d;
  color: white;
  padding: 5px;
  border-radius: 10%;
}

.filter-wrapper {
  padding-top: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

.admin-container {
  padding-left: 0;
}
.admin-container table {
  width: 100%;
}
.admin-container table .description {
  font-size: 0.9rem;
  color: #693e71;
}
.admin-container table .form-type-checkbox {
  display: flex;
  justify-content: center;
}
.admin-container table th {
  background-color: #0680cd;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
}
.admin-container table th a {
  color: #bcbec0;
}
.admin-container table th img {
  padding-left: 4px;
}
.admin-container .form-submit {
  background-color: #00569d;
  color: white;
  padding: 5px;
  border-radius: 10%;
  margin-left: 1rem;
}
.admin-container fieldset {
  padding: 12px;
  margin: 0 0 20px;
  border-top: none;
  box-shadow: 2px 2px 4px #f2f2f3;
  padding-bottom: 1rem;
}
.admin-container .exposed-filters .form-item {
  display: inline-block;
  margin-right: 1rem;
}
.admin-container .exposed-filters .form-item label {
  font-weight: 600;
  margin: 0 0 4px;
  width: 4em;
}
.admin-container .exposed-filters .container-inline .form-actions {
  margin: 0.5em 0;
  display: inline-block;
  clear: none;
}
.admin-container .exposed-filters .filters {
  width: inherit;
  display: inline-block;
  margin-right: 0.5rem;
}
.admin-container .header {
  background-color: #001a57;
  color: white;
}
.admin-container .header .breadcrumb {
  background-color: transparent;
  padding-left: 0;
}
.admin-container .header .page-header {
  font-size: 2rem;
}
.admin-container .header a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #808285;
}
.admin-container .region-content {
  padding-left: 1rem;
}
.admin-container .action-links {
  padding-left: 0px;
  margin-top: 1em;
}
.admin-container .action-links a {
  color: #001a57;
  font-weight: 900;
  text-decoration: underline;
}
.admin-container .action-links a:hover {
  color: #f28521;
}
.admin-container legend {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

@media (min-width: 576px) {
  .search {
    position: relative;
    margin-top: 0;
  }
  .search input {
    justify-self: center;
    width: 10em;
  }

  .homepage .banner .display-1 {
    font-size: 7vw;
  }
  .homepage .banner .h1 {
    font-size: 3vw;
  }

  footer img {
    width: 10vw;
  }

  .clinical-home .banner .banner-text {
    z-index: 800;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .article .text-section-one img {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .sidebar {
    position: sticky;
    top: 8em;
    height: 100vh;
    position: -webkit-sticky;
  }

  header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1010;
  }

  .navbar-collapse .navbar-nav .a-link {
    display: block;
  }
  .navbar-collapse .navbar-nav .overlay-link {
    display: none;
  }
  .navbar-collapse .accordion-toggle {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .white-button {
    font-size: 0.75rem;
  }
}
@media (max-width: 1199.98px) {
  #menu-container .accordion-content {
    overflow: auto;
    height: 50vh;
  }

  .breadcrumb {
    position: sticky;
    position: -webkit-sticky;
    top: 0em;
    z-index: 1010;
  }

  .categories-select {
    position: sticky;
    position: -webkit-sticky;
    top: 5rem;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 10px;
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .dismiss {
    width: 85%;
  }

  .article .text-section-one img {
    max-width: 500px;
  }
}

/*# sourceMappingURL=customlayout.css.map */
